<div class="w-100 border p-3 shadow mb-3">
    <div class="d-flex justify-content-between w-100 cursor-pointer">
        <div class="w-100"><img src="../../../../assets/images/javra-logo.svg" class="logo position-relative z-3" alt="Javra" /> <span class="text fs-3">Account</span></div>

        <div class="d-flex align-items-center">
            <button mat-icon-button color="primary"><mat-icon class="material-symbols-outlined">apps</mat-icon></button>
            <img src="../../../../assets/images/image.png" class="border rounded-circle p-1 border-success" width="50" alt="" />
            <button mat-icon-button color="primary" (click)="logout()"><mat-icon class="material-symbols-outlined">logout</mat-icon></button>
        </div>
    </div>
</div>
